<h1>Stars Index</h1>

Stars:
<br>
<br>
<table>
  <% @stars.each do |star_year| %>
      <tr>
        <td><%= star_year.first %></td>
      </tr>
      <% star_year[1][0..-1].each do |star_month| %>
          <tr>
            <td><%= Date::MONTHNAMES[star_month.first] %></td>
            <td><%= star_month.last %></td>
          </tr>
      <% end %>

  <% end %>
</table>