<h1>Stars Index</h1>

Stars:
<br>
<br>
<% @stars.each do |star_year| %>
    Year: <%= star_year.first %>
    <br/>
    <% star_year[1][0..-1].each do |star_month| %>
        <%= "#{Date::MONTHNAMES[star_month.first]}: #{star_month.last}" %>
        <br/>
    <% end %>

<% end %>