<h1>Stars Index</h1>

User: <%= @user %>
<br>
<div id="charts" style="width: 1650px;">
  <div id="year_chart" style="display: inline-block;"></div>
  <div id="month_chart" style="display: inline-block;"></div>
</div>

<%= render partial: "stars", locals: {star_view: @star_view[:table]} %>
<% content_for :js do %>
    <script type="text/javascript">
      var repoData = [{repo_name: "", charts: <%= @star_view[:charts].to_json.html_safe %>}];
      </script>
    <%= render partial: "star_charts", locals: {star_view: @star_view} %>
<% end %>